/*
Author: Javed Ur Rehman
Website: http://www.allphptricks.com/
*/


#reg{
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}

#homebg {
  position: absolute;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: -100;

}

#hero{
	position: relative;
	margin-top: 150px;
	margin-right: 400px;
	margin-left: 400px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 20px;
	font-family: 'Lato', sans-serif;
}

h1{
	font-family: 'Indie Flower', cursive,bold;
}

#hero h4{
	font-weight: bold;
}

.btn-primary{
	margin: 10px 10px 10px 10px;
	padding: 10px 15px 10px 15px;
	background-color: #80ced6;
	border-color: transparent;
}

.btn-primary:hover{
	background-color: #b1cbbb;
	border-color: transparent;
}

a{
	color:#f7786b;
}

#logreg{
	background-color: #f2f2f2
	width: 100%;
	height: 100%;

}